SPRING_PROFILES_ACTIVE=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_REDIS_HOST=
SPRING_REDIS_PORT=

SPRING_JPA_DDL_AUTO=

# Docker Compose 전용
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
DOCKER_DATASOURCE_URL=
