SPRING_PROFILES_ACTIVE=local

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/{DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379

SPRING_JPA_DDL_AUTO=update

# Docker Compose 전용
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=ten_slots
DOCKER_DATASOURCE_URL=jdbc:mysql://mysql:3306/ten_slots?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
